body {
    height: 100vh;
}

.view {
    display: flex;
    flex-wrap: wrap;

}


.block {
    width: 250px;
    height: 250px;
    background-color: coral;
    border: 1px solid black;
    margin: 20px;

    animation: appear linear;
    animation-timeline: view();
    animation-range: enrty 0% cover 40%;
}


@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}



